<nav class="navbar">
  <div class="navbar-wrapper">
    <h3 class="brand">bookup books</h3>
  </div>
</nav>

<h2 class="welcome-message">Share your books and meet other readers</h2>

<div class="login-container">
  <div class="form-wrapper">
    <h1><%= book.title %></h1>
    <h2><%= book.author %></h2>
    <h2><%= book.genre %></h2>
    <h2><%= book.pages %></h2>
    <img src="<%= book.imageUrl %>" alt="<%= book.title %>">
    <p><%= book.description %></p>
    <form action="/allbooks" method="POST" id="book-form">
      <label for="title">Title</label>
      <input type="text" id="title" name="title">

      <label for="author">Author</label>
      <input type="text" name="author" id="author">

      <label for="genre">Genre</label>
      <input type="text" name="genre" id="genre">

      <label for="pages">Pages</label>
      <input type="text" name="pages" id="pages">

      <label for="description">Description</label>
      <input type="text" name="description" id="description">

      <label for="picture">Image URL</label>
      <input type="text" name="picture" id="picture">


      <button type="submit">Edit Book</button>
    </form>

    </div>
  </div>
  <footer class="footer">
  <div class="footer-wrapper">
    <p class="footer-quote">“A book lying idle on a shelf is wasted ammunition. Like money, books must be kept in constant circulation... A book is not only a friend, it makes friends for you. When you have possessed a book with mind and spirit, you are enriched. But when you pass it on you are enriched threefold.”</p>
    <p class="footer-quote-author">Henry Miller</p>
  </div>
  </footer>
