<nav class="navbar">
  <div class="navbar-wrapper">
    <h3 class="brand">bookup</h3>
      <a href="/logout" class="navbar-button nabvar-button-right">Logout</a>
      <!-- <a href="/" class="navbar-button navbar-button-left">Home</a> -->
  </div>
</nav>

<div class="container">

  <div class="profile-wrapper">

    <div class="profile-picture-wrapper">
      <!-- here goes the profile picture -->
    </div>
    <div class="profile-data-wrapper">
      <ul>
        <li><%= user.name %></li>
        <li><%= user.username %></li>
        <li><%= user.email %></li>
        <li><%= user.city %></li>
        <li><%= user.phone %></li>
        <li><%= user.country %></li>

      </ul>
    </div>

  </div>

  <a class="edit-profile-button" href="/edit-profile">Edit Profile</a>

  <nav class="books-navbar">
    <a href="/">My Books</a>
    <a href="/all-books">All Books</a>
    <a href="/available-books">Available Books</a>
    <a href="/messages">Messages</a>
  </nav>

  <div class="mybooks-wrapper">

  <% book.forEach((book) => { %>
    <% if (book.available === true) { %>
    <div class="mybooks">
      <div class="cover-wrapper">
        <!-- here goes the cover -->
      </div>
      <div class="book-list-info">
        <ul>
          <li><%= book.title %></li>
          <li><%= book.author %></li>
        </ul>
      </div>
    </div>

    <% } %>
  <% }); %>

  </div>

</div>

<!-- <footer class="footer">
  <div class="footer-wrapper">
    <p class="footer-quote">“A book lying idle on a shelf is wasted ammunition. Like money, books must be kept in constant circulation... A book is not only a friend, it makes friends for you. When you have possessed a book with mind and spirit, you are enriched. But when you pass it on you are enriched threefold.”</p>
    <p class="footer-quote-author">Henry Miller</p>
  </div>
</footer> -->
