<nav class="navbar">
  <div class="navbar-wrapper">
    <h3 class="brand">bookup</h3>
    <a href="/logout" class="navbar-button nabvar-button-right">Logout</a>
    <a href="/" class="navbar-button navbar-button-left">Home</a>
  </div>
</nav>
<div class="login-container">

  <div class="form-wrapper">

    <form action="/<%= book._id %>" method="POST" id="login-form" enctype="multipart/form-data">

        <h3 class="new-account-header">Edit "<%= book.title %>"</h3>
        <div class="form-group">

          <input type="text" class="basic-form" name="title" placeholder="title" value="<%= book.title %>">
          <input type="text" class="basic-form" name="author" placeholder="author" value="<%= book.author %>">
          <input type="text" class="basic-form" name="genre" placeholder="genre" value="<%= book.genre %>">
          <input type="text" class="basic-form" name="pages" placeholder="pages" value="<%= book.pages %>">
          <textarea class="description-form" name="name" placeholder="description" value="<%= book.description %>"></textarea>
          <input type="file" class="basic-form" name="cover" id="cover" placeholder="upload cover" value="<%= book.cover %>">
          <input type="hidden" class="basic-form" name="id" placeholder="bookid" value="<%= book._id %>">
          <input type="hidden" class="basic-form" name="bookPicture" placeholder="bookid" value="<%= book.picture %>">
        </div>

        <button type="submit" class="send-button">Save</button>
        <a href="/" class="cancel-button" id="editbook-cancel">Cancel</a>


    </form>
  </div>

</div>
